:root {
    --blue-gray: #394155;
    --powder-blue: #67d0e2;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .stylebox {
      background-color: var(--powder-blue);
      color: var(--blue-gray);
      align-items: center;
  } 

  header {
      background-color: var(--blue-gray);
      color: var(--powder-blue);
      display: flex;
      justify-content: space-between;
      height: 100px;
      align-items: center;
  }

  header .stylebox {
    padding-left: 4%;
    width: 25%;
    height: 80%;
    display: flex;
    align-content: center;
  }

  header .stylebox h1 {
    font-size: 50px;
    text-align: end;
    flex: 1 30%;
  }

  header nav {
      display: flex;
      font-size: 26px;
  }

  header nav .nav-item {
      margin: 20px;
      border-bottom: 5px solid var(--powder-blue);
      padding: 10px;
      
  }

  header nav .nav-item a {
    text-decoration: none;
    color: var(--powder-blue);
  }

  .hero {
    background-image: url('../images/jeremy-bishop-iftBhUFfecE-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    height: 200px;
  }

  .hero::after {
    width: 100%;
    height: 100%;
    position: relative;

  }

  .hero .stylebox {
    position: absolute;
    right: 2%;
    top: 220px;
    font-size: 36px;
  }

  main {
    display: flex;
    margin: 50px 100px 50px 0px;
   

  }

  .indent {
    width: 25%;
    color: var(--blue-gray);
    font-size: 46px;
    border-right: 5px solid var(--blue-gray);
    text-align: end;  
    padding-right: 10px;
    margin-right: 15px;
  }

  .bio {
    width: 75%;
    color: var(--blue-gray);
    font-size: 26px;
    
  }

  .work {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    
  }

  .work article {
    margin: 1%;
    border: 5px solid var(--powder-blue);
    position: relative;
  }


  .work article .stylebox {
    position: absolute;
    left: 0;
    bottom: 10px;
    font-size: 36px;
    z-index: 5;
  }

  .work article .stylebox h4 {
    font-size: 36px;
  }

  .work article .stylebox p {
    font-size: 20px;
  }

  .work .work-lg {
    height: 400px;
    width: 100%;       
  }

  .work .work-sm {
    width: 48%;
    height: 150px;
  }

  .work-lg img {
    height: 100%;
    width: 100%;
    background-image: url('../images/silas-baisch-OCzvgBqCJKY-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    opacity: .7;
  }

  .work-sm img {
    width: 100%;
    height: 100%;
    opacity: .7;
    
  }

  article img:hover {
    opacity: 1;

  }


footer {
  display: flex;
  margin: 20px 100px 20px 0px;
  color: var(--blue-gray);
}

footer .contact-info {
  width: 75%;
  display: flex;
  justify-content: space-around;
  font-size: 26px;
}

footer .contact-info .contact-item {
  margin: 20px;
  border-bottom: 5px solid var(--blue-gray);
  padding: 10px;
  display: flex;
  align-items: center;
}

footer .contact-info .contact-item a {
  text-decoration: none;
  color: var(--blue-gray);
}
